<div class="container shadow-lg bg-dark rounded text-white">
  <div *ngIf="isConnected" class="d-flex justify-content-end mt-5">
    <button (click)="onClickSignOut()" class="btn btn-outline-danger mx-2 mt-3">
      DECONNEXION
    </button>
  </div>
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">NET FLOUX</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead my-4 fw-bold">
        NET FLOUX vous aide à gérer les séries que vous méritez de regarder !
        Ajouter, supprimer et éditer très facilement !
      </p>

    </div>
  </div>
</div>
